.bg{
    background: rgb(167, 162, 162);
    width: 800px;
    height: 500px;
    border-radius: 30px;
    margin-top: 100px;
    padding: 60px 60px 150px 60px ;
}
.doraemon{
    position: relative;
    left: 770px;
    bottom: 120px;
}

.main{
    padding-top: 20px;
    color: greenyellow;
    text-align: center;
    margin-right: 0;
    background: white;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border-radius: 30px;
}

.main span{
    font-size: 20px;
    color:blueviolet
}
