.main{
    width: fit-content;
    height: fit-content;
    border: 1px cyan solid;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: cyan;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
}

.abc{
    display: flex;
    background: rgb(65, 60, 60);
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}